/* $rosewater: #f4dbd6; */
/* $flamingo: #f0c6c6; */
/* $pink: #f5bde6; */
/* $mauve: #c6a0f6; */
/* $red: #ed8796; */
/* $maroon: #ee99a0; */
/* $peach: #f5a97f; */
/* $yellow: #eed49f; */
/* $green: #a6da95; */
/* $teal: #8bd5ca; */
/* $sky: #91d7e3; */
/* $sapphire: #7dc4e4; */
/* $blue: #8aadf4; */
/* $lavender: #b7bdf8; */
                       
/* $text: #cad3f5; */
/* $subtext1: #b8c0e0; */
/* $subtext0: #a5adcb; */
                       
/* $overlay2: #939ab7; */
/* $overlay1: #8087a2; */
/* $overlay0: #6e738d; */
                       
/* $surface2: #5b6078; */
/* $surface1: #494d64; */
/* $surface0: #363a4f; */
                       
/* $base: #24273a; */
/* $mantle: #1e2030; */
/* $crust: #181926; */

window {
    margin: 2px;
    /* border: 3px solid #f5c2e7; */
    /* background-color: #f5c2e7; */
    /* border-radius: 8px; */
    border: none;
    background: transparent;
    fullscreen: true;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #cad3f5;
    background-color: #181926;
   	outline: none;
}

#inner-box {
    margin: 4px;
    border: 10px solid #181926;
    background-color: #181926;
    border-radius: 8px;
}

#outer-box {
    margin: 2px;
    border: none;
    border-radius: 8px;
    background-color: #181926;
}

#scroll {
    hidden: true;
    margin: 0px;
    border: none;
}

#text:selected {
    color: #1e1e2e;
    margin: 0px 0px;
    border: none;
    border-radius: 0px; 
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: #939ab7;
}

